.navbar {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.navcard {
  .iconbutton {
    position: relative;
    margin-right: 25px;
    justify-content: space-between;
  }
  .icon_ {
    font-size: 28px;
    color: black;
  }
  .lendiv {
    position: absolute;
    right: -10px;
    top: -6px;
    background: red;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 23px;
    .len {
      font-size: 20px;
      color: #fff;
    }
  }
}

.avatar {
  border: 2px solid #0174da;
  border-radius: 100px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    max-width: 100%;
    object-fit: cover;
  }
}
@keyframes animat {
  0% {
    background: red;
  }
  50% {
    background: #ff000062;
  }
  100% {
    background: red;
  }
}
.anim {
  animation: animat 1s infinite;
}

.Likes {
  position: relative;
  .likeslen {
    position: absolute;
    right: -5px;
    top: -7px;
    background: #002f34;
    color: #fff;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animat2 1s linear infinite;
    font-size: 12px;
  }
}

@keyframes animat2 {
  0% {
    background: #002f34;
  }
  50% {
    background: #002f349b;
  }
  100% {
    background: #002f34;
  }
}
