.card_{
    width: 100%;
    padding: 100px 0;
}

.profils_{
    display: flex;
    align-items: center;
    position: relative;
    .photo{
        overflow: hidden;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        img{
            border-radius: 100px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .icons{
            border-radius: 100px;
            cursor: pointer;
            position: absolute;
            bottom: -200px;
            top: 0;
            left: 0;
            right: 0;
            background: #00000000;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            .icon_{
                font-size: 40px;
                color: #fff;
            }
        }
        &:hover{
            .icons{
                background: #000000a8;
                bottom: 0;
            }
        }
    }
    .username{
         margin-top: 10px;
    }
    .profil_banner{
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        background: #000000e1;
        padding: 5px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        .icon_{
            font-size: 32px;
        }
    }
}