.category_card {
  cursor: pointer;
  img {
    transition: 0.2s;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  .card_cate {
  }
  .card_cate.actives {
    border: 2px solid gray;
    box-shadow: 6px 6px 8px #252525;
    img {
      transform: scale(1.1);
    }
  }
}
